GITHUB_REPO=dadencukillia/miostream
IMAGES_TAG=latest

DB_PASS=mypass
SITE_ADDRESS=localhost
RUSTFS_ACCESS_KEY=myaccesskey
RUSTFS_SECRET_KEY=mysecretkey

AUTH_COOKIE_NAME=auth_token
GOOGLE_CLIENT_ID=yourclientid
GOOGLE_CLIENT_SECRET=yourclientsecret
GOOGLE_REDIRECT_URI=https://localhost/api/auth/google/callback
AUTH_JWT_SECRET=yourjwtsecret
